# Miscellaneous
*.class
*.log
*.pyc
*.swp
.history
.DS_Store
Thumbs.db

# IDE & Editor Configs
.idea/
.vscode/
.antigravity/
*.iml
*.ipr
*.iws

# Flutter / Dart / Pub output & caches
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-preload-cache/
.pub/
build/
bin/cache/
lib/generated_plugin_registrant.dart

# Symbol and coverage files
app.*.symbols
coverage/

# Android
.gradle/
android/.gradle/
android/captures/
android/local.properties
android/key.properties
android/app/debug/
android/app/release/
*.jks
*.keystore
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
ios/DerivedData/
ios/**/xcuserdata/

# macOS
macos/Pods/
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/**/xcuserdata/

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

# Linux
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake